---
interface Props {
    title: string;
    imgUrl: string;
}

const { title, imgUrl } = Astro.props as Props;
---
<div class="relative isolate overflow-hidden bg-gray-900">
  <!-- Imagen de fondo con capa oscura -->
  <div class="absolute inset-0 -z-10">
    <img
      src={imgUrl}
      alt=""
      class="h-full w-full object-cover object-right md:object-center"
    />
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>
  </div>

  <!-- Elementos decorativos -->
  <div
    class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
    aria-hidden="true"
  >
    <div
      class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>

  <div
    class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
    aria-hidden="true"
  >
    <div
      class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>

  <!-- Contenido con texto -->
  <div class="relative mx-auto container px-6 lg:px-0 mt-40 lg:mt-32 2xl:mt-44 py-8">
    <h1 class="text-white font-extrabold text-4xl ">{title}</h1>
  </div>
</div>
