---
import Icon from '@src/components/share/Icon.component.astro'
---

<a
    href="https://wa.me/51966003622?text=Quiero%20m%C3%A1s%20informaci%C3%B3n%20de%20la%20cooperativa"
    target="_blank"
    class="fixed bottom-4 right-4 bg-ayllus-secondary text-white py-2 px-4 rounded-full shadow-lg hover:bg-ayllus-secondary/80 transition z-50 group"
>
    <Icon name='whatsapp' className='w-10 h-10'>
    <div
        class="absolute bottom-[50%] right-[calc(100%+0.5rem)] -translate-y-[50%] hidden group-hover:block w-auto"
    >
        <div
            class="left-full bottom-0 rounded bg-black px-4 py-1 text-xs text-white whitespace-nowrap"
        >
            Contáctanos por Whatsapp
        </div>
    </div>
</a>
