---
import fetchApi from '@src/lib/strapi'
import type { RootCarousel } from '@src/types/home/banner'
import { Image } from 'astro:assets'
import SidebarSocialMedia from './SidebarSocialMedia.component.astro'

const data = await fetchApi<RootCarousel>({
  endpoint: 'home',
  query: {
    'populate[Contenido][on][ayllus-componente.carousel][populate][Banners][populate]':
      '*'
  },
  wrappedByKey: 'data'
})

const banners = data.Contenido[0].Banners;
---

<div class="swiper mySwiper relative">
  <SidebarSocialMedia />
  <div class="swiper-wrapper">
    {
      banners.map((item) => (
        <div class="swiper-slide">
          {item.banner.mime === 'video/mp4'
            ? (
            <a href={item.link_redireccionar}>
              <video
                autoplay
                muted
                loop
                playsinline
                aria-label={item.descripcion || 'Banner'}
              >
                <source src={item.banner.url} type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            </a>
              )
            : (
            <a href={item.link_redireccionar}>
              <Image
                src={item.banner.url}
                alt={item.descripcion || 'Banner'}
                width={item.banner.width || 1920}
                height={item.banner.height || 1080}
                aria-label={item.descripcion || 'Banner'}
                decoding="async"
                loading="eager"
              />
            </a>
              )}
        </div>
      ))
    }
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
import Swiper from 'swiper'
import { Pagination, Autoplay } from 'swiper/modules'
import 'swiper/css'
import 'swiper/css/pagination'

const swiper = new Swiper('.mySwiper', {
  modules: [Pagination, Autoplay],
  pagination: {
    el: '.swiper-pagination',
    clickable: true
  },
  autoplay: {
    delay: 28000
  },
  slidesPerView: 1,
  spaceBetween: 10,
  breakpoints: {
    640: {
      slidesPerView: 1,
      spaceBetween: 20
    },
    768: {
      slidesPerView: 1,
      spaceBetween: 40
    },
    1024: {
      slidesPerView: 1,
      spaceBetween: 50
    }
  }
})

swiper.init()
</script>

<style>
  /* Configuración base */
  .swiper {
    width: 100%;
    height: 90vh;
  }

  /* Ajustes para pantallas grandes (más de 1440px) */
  @media (min-width: 1440px) {
    .swiper {
      height: 95vh;
    }
  }

  /* Ajustes para pantallas medianas (tablets y laptops pequeñas) */
  @media (max-width: 1024px) {
    .swiper {
      height: 95vh;
    }
  }

  /* Ajustes para tablets en orientación vertical */
  @media (max-width: 768px) {
    .swiper {
      height: 85vh;
    }
  }

  /* Ajustes para celulares grandes */
  @media (max-width: 576px) {
    .swiper {
      height: 75vh;
    }
  }

  /* Ajustes para celulares pequeños */
  @media (max-width: 400px) {
    .swiper {
      height: 75vh;
    }
  }

  /* Ajustes para los elementos dentro del swiper */
  .swiper-slide video,
  .swiper-slide img,
  .swiper-slide a {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Estilo general de las diapositivas */
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f1eeee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<style is:global>
  .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1 !important;
    background: #c0c4ca !important;
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #7406a7 !important;
  }
</style>
