---
import Icon from '@src/components/share/Icon.component.astro'
---
<aside class="absolute top-1/2 right-0 -translate-y-1/2 bg-ayllus-primary/35 z-50 rounded-l-lg">
    <ul class="flex flex-col gap-4 py-4 px-2 text-white">
        <li>
            <Icon name='facebook' className='w-8 h-8'/>
        </li>
        <li>
            <Icon name='instagram' className='w-8 h-8'/>
        </li>
        <li><Icon name='whatsapp' className='w-8 h-8'/></li>
    </ul>
</aside>
